<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="test-library-local" value="test-library/build/nuget" />
    <add key="test-companion-local" value="test-companion/build/nuget" />
    <add key="interop-contract-local" value="build/nuget" />
  </packageSources>
</configuration>
